:root {
    --body-color: #dee2e6;
    --body-bg: #212529;
    --border-radius: 0.375rem;
    --border-width: 1px;
    --border-color: #495057;
    --border-color-translucent: #ffffff26;
    --emphasis-color: #ffffff;
    --secondary-bg: #343a40;
    --tertiary-bg: #2b3035;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--body-color);
    background-color: var(--body-bg);
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body { display: flex; place-items: flex-start; min-width: 320px; min-height: 100vh; margin: 0; }

button { font-family: inherit; font-size: inherit; line-height: inherit; cursor: pointer; }

h5 { margin: 0; font-size: 1.25rem; font-weight: 500; line-height: 1.2; }

*, :after, :before { box-sizing: border-box; }

@media (prefers-color-scheme: light) {
    :root {
        --body-color: #212529;
        --body-bg: #ffffff;
        --border-color: #dee2e6;
        --border-color-translucent: rgba(0, 0, 0, .175);
        --emphasis-color: #000000;
        --secondary-bg: #e9ecef;
        --tertiary-bg: #f8f9fa;
    }
}
